section#login-user-card {
    width: 100%;
    height: 180px;

    div.user-card {
        position: relative;
        width: inherit;
        height: inherit;
        border-radius: 5px;
        background-color: var(--secondary);
        box-shadow: 0px 0px 5px 0px var(--primary-dark);
        border: 1px solid var(--login-select-border-color);
        
        transition: ease-in-out all 150ms;
        
        div.user-card-body {
            width: 100%;
            height: calc(100% - 22px);
            display: flex;
            align-items: center;
            flex-direction: column;

            div.user-card-provider-icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 6px;
                background-color: white;
                border-radius: 50%;
                box-shadow: 0px 0px 5px 0px var(--primary-dark);

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            img.user-card-avatar {
                width: 88px;
                height: 88px;
                margin: 6px 0;
                border-radius: 50%;
                border: 2px solid var(--primary-dark);
                box-shadow: 0px 0px 5px 0px var(--primary-dark);
            } 
    
            div.user-card-info {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
    
                span.user-name {
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: .29px;
                    margin: 0;
                }
    
                span.user-email {
                    color: #e9e9e9;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: normal;
                }
            }
        }

        div.user-card-footer {
            width: 100%;
            height: 22px;
            border-top: 1px solid #23252E;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: white;
                font-style: italic;
                font-size: 10px;
            }
        }
    }
}
