<section id="login-user-card" class="dark-theme">
    <div class="user-card">
        <div class="user-card-body">
            <img class="user-card-avatar" [src]="this.loginPageService.selectedUser.getAvatar()" alt="user-card-avatar">
            <div class="user-card-info">
                <span class="user-name">{{this.loginPageService.selectedUser.userName}}</span>
                <span class="user-email">{{this.loginPageService.selectedUser.email}}</span>
            </div>
        </div>
        <div class="user-card-footer">
            <span>Last session: {{this.loginPageService.selectedUser.getLastSession('unknown')}}</span>
        </div>
    </div>
</section>
