<section id="user-form" class="dark-theme">
    <div [ngClass]="{'input-label': true, 'input-error': (!this.email.untouched && this.email.invalid)}">
        <div class="label-field">
            <label for="email">electronic email</label>
            <span>{{this.emailErrorMessage}}</span>
        </div>
        <input [(ngModel)]="this.selectedUser.email" type="text" [formControl]="email" aria-label="electronic email">
    </div>

    <div [ngClass]="{'input-label': true, 'input-error': (!this.password.untouched && this.password.invalid)}">
        <div class="label-field">
            <label for="password">password</label>
            <span>{{this.passwordErrorMessage}}</span>
        </div>
        <div class="input-suffix">
            <input [(ngModel)]="this.selectedUser.password" [type]="this.showPassword ? 'text' : 'password'" name="password" aria-label="password" [formControl]="password">
            <mat-icon (click)="this.togglePasswordVisibility()">{{this.showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
    </div>
</section>