#titlebar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 100%;
    padding: 4px;

    #drag-region {
        width: 100%;
        height: 100%;
        -webkit-app-region: drag;
        
        #window-controls {
            display: flex;
            justify-content: end;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 100%;
                -webkit-app-region: no-drag;
            }
            
            // #min-button {
            //     grid-column: 1;
            // }
            
            // #max-button {
            //     grid-column: 2;
            // }
            
            // #close-button {
            //     grid-column: 3;
            // }
        }
    }
}

//THEMES

.dark {
    background-color: #1B1B1B;
    #drag-region {
        #window-controls {
            div.button {
                color: #dbdbdb;
            }
        }
        #window-controls .button:hover {
            cursor: pointer;
            background-color: #ffffff13;
            color: #fff;
        }
        #window-controls .button#close-button:hover {
            background-color: #f04747;
        }
    }
}

.purple {
    background-color: #254053;
    #drag-region {
        #window-controls {
            div.button {
                color: #dbdbdb;
            }
        }
        #window-controls .button:hover {
            cursor: pointer;
            background-color: #ffffff13;
            color: #fff;
        }
        #window-controls .button#close-button:hover {
            background-color: #f04747;
        }
    }
}