<section id="login-stored-users-select" class="dark-theme">
    <div matRipple id="select-box" (click)="this.onClick()">
        <div class="select-value">
            <img class="select-value-avatar" [src]="this.getStoredUserAvatar(this.value)" alt="selected-user-avatar">
            <span class="select-value-name">{{this.getStoredUserFullName(this.value)}}</span>
        </div>
        <mat-icon [ngClass]="{'select-icon': true, 'select-icon-active': this.isOpen}">arrow_drop_up</mat-icon>
    </div>

    <div class="select-list-wrapper" [@openClose]="isOpen ? 'open' : 'closed'" (@openClose.done)="this.captureDoneEvent($event)" (@openClose.start)="this.captureStartEvent($event)">
        <ul id="select-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
            <ng-container *ngFor="let storedUser of this.storedUsers">
                <li matRipple cdkDrag cdkDragBoundary="#select-list" [ngClass]="{'select-list-item': true, 'active': storedUser === this.value}" (click)="this.onClick(storedUser)">
                    <img class="list-item-avatar" [src]="this.getStoredUserAvatar(storedUser)" alt="list-item-user-avatar">
                    <div class="list-item-info">
                        <span class="list-item-name">{{this.getStoredUserFullName(storedUser)}}</span>
                        <span class="list-item-email">{{this.storedUser.data.email}}</span>
                    </div>
                </li>
                <mat-divider></mat-divider>
            </ng-container>
        </ul>
    </div>
</section>

<div [ngClass]="{'backdrop': true, 'backdrop-active': this.isOpen}" (click)="this.onClick()"></div>