div.login-component-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    section#user-data {
        position: relative;
        height: 180px;
        width: calc(200% + 36px);
        display: flex;
        justify-content: space-between;
        
        app-login-form, app-login-user-card {
            display: block;
            position: absolute;
            top: 0;
            width: 310px;
        }

        app-login-user-card {
            left: 346px;
        }
    }
}
