<div class="login-component-wrapper dark-theme">

    <app-login-user-select #userSelect 
        [data]="this.loginPageService.storedUsers"
        [value]="this.loginPageService.selectedUser"
        (onSelect)="this.onSelect($event)"
        (onDeselect)="this.onDeselect()"
        (onDelete)="this.onDelete($event)"
        (onOrderChanges)="this.loginPageService.moveItemInArray($event)">
    </app-login-user-select>

    <section id="user-data" 
        [@slide]="this.userDataStep" 
        (@slide.done)="this.onDoneEvent($event)"
        (@slide.start)="this.onStartEvent($event)">

        <app-login-form #userForm
            *ngIf="this.showUserForm"
            [(value)]="this.loginPageService.selectedUser"
            (onValid)="btnDisabled = false"
            (onInvalid)="btnDisabled = true">
        </app-login-form>
        
        <app-login-user-card #userCard
            *ngIf="this.showUserCard"
            [value]="this.loginPageService.selectedUser"
            (onEditClick)="this.onEditClick()">
        </app-login-user-card>
        
    </section>
    <mat-divider></mat-divider>
    <div class="buttons">
        <tsr-button
            [disableRipple]="this.btnDisabled"
            [disabled]="this.btnDisabled"
            (onDisabledClick)="this.userForm.showErrors = true" 
            (onClick)="this.onBtnClick()">
            {{this.btnText}}
        </tsr-button>
    </div>
</div>
