div.page-wrapper {
    width: 100%;
    height: 100%;
    max-height: 520px;
    max-width: 380px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--primary-dark);

    section#login, section#footer {
        background-color: var(--primary);
    }

    section#login {
        width: 100%;
        height: 375px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        border-radius: 3px;

        app-login-form, app-login-user-card {
            display: block;
            margin: 10px 0;
        }

        mat-divider {
            border-top-color: var(--primary-dark);
            margin: 5px 0;
        }

        div.buttons {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
        }
    }

    section#footer {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        padding: 25px;
        
        button {
            width: 100%;
        }
    }
}

div.button-wrapper {
    position: relative;
    width: 100%;
    min-width: 100px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: var(--blue-dark);
    cursor: pointer;
    
    button {
        width: 100%;
        padding: 10px 15px;
        border: 0;
        outline: unset;
        background-color: var(--blue);
        color: var(--text-normal);
        font-size: .875rem;
        border-radius: 0 0 5px 5px;
        font-weight: 500;
        letter-spacing: .0107142857em;
        cursor: pointer;
    }
}

div.button-wrapper button:disabled:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    pointer-events: none;
    animation: fade-in 150ms ease-in-out;
    background-color: #00000073;
}

div.button-wrapper button:disabled {
    cursor: not-allowed;
}

@keyframes fade-in {
    0% {
        background-color: #00000000;
    }
    100% {
        background-color: #00000073;
    }
}

div#spinner {
    position: absolute;
    z-index: 2;
    top: 22px;
    width: 100%;
    height: calc(100% - 22px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c8c8c41;
}

#spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--border-dark);
}



