<div class="page-wrapper dark">
	<section id="login-form">
		<form action="">
			<app-login-select></app-login-select>
			<app-login-user-card></app-login-user-card>
			<div>
				<mat-divider></mat-divider>
				<button mat-stroked-button (click)="this.logIn()">Log in</button>
			</div>
		</form>
	</section>
	<section id="signin-suggestion">
		<button mat-stroked-button>Create Account</button>
	</section>
</div>
<div id="spinner" class="dark" *ngIf="this.showSpinner">
	<mat-spinner></mat-spinner>
</div>