<header id="titlebar">
    <div id="drag-region">
        <div id="window-controls">

            <div class="button" id="min-button">
                <div></div>
            </div>

            <div class="button" id="max-button">
                <div>
                    <div></div>
                </div>
            </div>

            <div class="button" id="close-button">
                <div id="close-icon">
                </div>
            </div>

        </div>
    </div>
</header>
<router-outlet></router-outlet>