.dark-theme {
    --primary: #24404B;
    --primary-dark: #23252E;
    --secondary: #24343E;
    --green: #10AC84;
    --blue: #2E86DE;
    
    --login-select-border-color: #23252E;
    --login-select-font-color: #e9e9e9;
    --login-select-icon-color: #e9e9e9;
    --login-select-list-background: #fff;
}